certifi==2026.4.22
charset-normalizer==3.4.7
idna==3.13
numpy==1.24.4
pandas==2.0.3
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2026.1.post1
pyupbit==0.2.34
requests==2.32.4
six==1.17.0
tzdata==2026.1
urllib3==2.2.3
websockets==13.1
streamlit==1.40.1
plotly==5.24.1
